<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>ClassName</string>
	<key>Description</key>
	<string>A C++ class implementation with header.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.cpp</string>
	<key>CounterpartTemplateFile</key>
	<string>___FILEBASENAME___.h</string>
	<key>SortOrder</key>
	<string>30</string>
	<key>Summary</key>
	<string>A C++ class implementation with header.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Namespace</string>
			<key>Identifier</key>
			<string>WithNamespace</string>
			<key>Description</key>
			<string>If the class has a namespace</string>
			<key>Default</key>
			<string>true</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Namespace</string>
			<key>Identifier</key>
			<string>namespaceName</string>
			<key>Description</key>
			<string>The namespace the class belongs to</string>
			<key>NotPersisted</key>
			<false/>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>text</string>
			<key>RequiredOptions</key>
			<dict>
				<key>WithNamespace</key>
				<string>true</string>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Copyable</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Name</key>
			<string>Copyable</string>
			<key>Description</key>
			<string>Implements defaulted copy constructor and operator</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Identifier</key>
			<string>Movable</string>
			<key>Name</key>
			<string>Movable</string>
			<key>Description</key>
			<string>Implements defaulted move constructor and operator</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
